* {
    margin: 0;
    padding: 0;
    font-family: 'Poppons', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(55,54,77);
    background: linear-gradient(90deg, rgba(55,54,77,1) 0%, rgba(11,11,94,1) 35%, rgba(28,74,83,1) 100%);
    padding: 10px;
    justify-content: space-between;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    height: 300px;
    align-items: center;
    text-align: center;
}

.todo-app h2 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.todo-app img {
    height: 30px;
    margin-left: 20px;
}

.todo-app input {
    height: 30px;
    width: 370px;
    border-radius: 20px;
    flex-grow: 1;
    padding: 10px;

}

.todo-app button {
    height: 30px;
    width: 90px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: green;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.task-text.completed {
    text-decoration: line-through;
    color: #888;
}

.complete-btn,
.delete-btn {
    background-color: transparent;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    margin-left: 5px;
}

.complete-btn:hover,
.delete-btn:hover {
    color: #45a049;
}